/* From Andres */

body {
  padding: 0;
  margin: 0;
  font-family:"avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
}
html, body, #map-canvas {
  height: 100%;
  width: 100%;
}

#div-slider{
  height:15%;
  width:100%
}

/* From Time Slider */

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #041a3d;
    /* background: white; */
    /* background: rgba(255,255,255,0.8); */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    outline: 2px dashed white;
    /* outline-color: white; */
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 22px;
    color: white;
    /* color: #555; */
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
